<footer class="footer footer-2">
  <div class="footer-middle">
    <div [ngClass]="containerClass">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div class="widget widget-about">
            <a routerLink="/">
              <img
                src="assets/images/home/logo3.png"
                class="footer-logo"
                alt="Footer Logo"
                width="140"
                height="50"
              />
            </a>
            <p class="font-weight-normal">
              Para Difussion est un site E-commerce de produits
              parapharmaceutiques au Maroc, Nous offrons des produits de haut
              qualité
            </p>

            <div class="widget-about-info">
              <div class="tel-number">
                <span class="widget-about-title"
                  >Vous avez une question ? Appelez-nous 24/7</span
                ><a href="tel:123456789">+212620744118</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title">Information</h4>

            <ul class="widget-list">
              <li><a routerLink="pages/contact">Contact us</a></li>
              <li><a routerLink="pages/login">Log in</a></li>
              <li><a routerLink="pages/faq">FAQ</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title">Service Clients</h4>

            <ul class="widget-list">
              <li><a href="javascript:;">Retours</a></li>
              <li><a href="javascript:;">Termes et conditions </a></li>
              <li><a href="javascript:;">Politique de confidentialité</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title">Mon compte</h4>

            <ul class="widget-list">
              <li><a routerLink="/shop/dashboard">Login</a></li>
              <li><a routerLink="/shop/cart">Voir Panier</a></li>
              <li><a routerLink="/shop/wishlist">Ma Wishlist</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div [ngClass]="containerClass">
      <p class="footer-copyright font-weight-normal">
        Copyright © {{ year }} Para Difussion. Tous les droits sont réservés
      </p>
      <ul class="footer-menu">
        <li>
          <a href="javascript:;" class="font-weight-normal"
            >Conditions d'utilisation</a
          >
        </li>
        <li>
          <a href="javascript:;" class="font-weight-normal"
            >Politique de confidentialité</a
          >
        </li>
      </ul>

      <div class="social-icons social-icons-color">
        <span class="social-label font-weight-normal">Social Media</span>
        <a
          href="https://www.facebook.com/profile.php?id=100063658174221"
          class="social-icon social-facebook"
          title="Facebook"
          ><i class="icon-facebook-f"></i
        ></a>
        <a
          href="javascript:;"
          class="social-icon social-instagram"
          title="Instagram"
          ><i class="icon-instagram"></i
        ></a>
        <a
          href="javascript:;"
          class="social-icon social-youtube"
          title="Youtube"
          ><i class="icon-youtube"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="mb-10" *ngIf="isBottomSticky"></div>
</footer>
