<div class="sidebar-shop" [ngClass]="toggle ? 'sidebar-filter' : 'sidebar'">
  <div [class.sidebar-filter-wrapper]="toggle">
    <div class="widget widget-clean">
      <label>Filtres:</label>
      <a [routerLink]="" class="sidebar-filter-clear">Tous Effacer</a>
    </div>
    <div class="widget widget-collapsible">
      <h3 class="widget-title mb-2">
        <a
          data-toggle="collapse"
          href="#widget-4"
          role="button"
          aria-expanded="true"
          aria-controls="widget-4"
        >
          Marques
        </a>
      </h3>

      <div class="collapse show" id="widget-4">
        <div class="widget-body pt-0">
          <div class="filter-items">
            <div
              class="filter-item"
              *ngFor="let item of brands; let id = index"
            >
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="'brand-' + id"
                  (click)="onAttrClick('brand', item.slug)"
                  [checked]="containsAttrInUrl('brand', item.slug)"
                />
                <label class="custom-control-label" [for]="'brand-' + id">{{
                  item.name
                }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="widget widget-collapsible">
      <h3 class="widget-title mb-2">
        <a
          data-toggle="collapse"
          href="#widget-1"
          role="button"
          aria-expanded="true"
          aria-controls="widget-1"
        >
          categories
        </a>
      </h3>

      <div class="collapse show" id="widget-1">
        <div class="widget-body pt-0">
          <div class="filter-items filter-items-count">
            <div class="filter-item" *ngFor="let item of shopData.categories">
              <a
                [routerLink]=""
                [queryParams]="{ category: item.slug }"
                routerLinkActive="active"
                >{{ item.name }}</a
              >
              <span class="item-count">{{ item.count }}</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="widget widget-collapsible">
      <h3 class="widget-title mb-2">
        <a
          data-toggle="collapse"
          href="#widget-1"
          role="button"
          aria-expanded="true"
          aria-controls="widget-1"
        >
          Categorie
        </a>
      </h3>

      <div class="collapse show" id="widget-1">
        <div class="widget-body pt-0">
          <div class="filter-items">
            <!-- <div
              class="filter-item"
              *ngFor="let item of shopData.sizes; let index = index"
            > -->
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                [id]="'category-' + category"
                [checked]="containsAttrInUrl2('category', category.name)"
                (change)="onAttrClick('category', category.name)"
              />
              <label class="custom-control-label" [for]="'category-' + category"
                >{{ category.name }}({{ category.count }})</label
              >
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="widget widget-collapsible">
      <h3 class="widget-title mb-2">
        <a
          data-toggle="collapse"
          href="#widget-2"
          role="button"
          aria-expanded="true"
          aria-controls="widget-2"
        >
          Sous Categories
        </a>
      </h3>

      <div class="collapse show" id="widget-2">
        <div class="widget-body pt-0">
          <div class="filter-items">
            <div
              class="filter-item"
              *ngFor="let item of subCategories; let index = index"
            >
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="'subcat-' + index"
                  [checked]="containsAttrInUrl('scategory', item.slug)"
                  (change)="onAttrClick('scategory', item.slug)"
                />
                <label class="custom-control-label" [for]="'subcat-' + index">{{
                  item.name
                }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="widget widget-collapsible">
      <h3 class="widget-title mb-2">
        <a
          data-toggle="collapse"
          href="#widget-5"
          role="button"
          aria-expanded="true"
          aria-controls="widget-5"
        >
          Prix
        </a>
      </h3>

      <div class="collapse show" id="widget-5">
        <div class="widget-body pt-0">
          <div class="filter-price">
            <div class="filter-price-text d-flex justify-content-between">
              <span>
                Prix:&nbsp;
                <span class="filter-price-range"
                  >{{ priceRange[0] * 10 | currency: "MAD" }} -
                  {{ priceRange[1] * 10 | currency: "MAD" }}</span
                >
              </span>

              <button class="pr-2" (click)="filterPrice()">Filter</button>
            </div>

            <div class="price-slider">
              <nouislider
                #priceSlider
                [connect]="[true, true, true]"
                [ngModel]="priceRange"
                [min]="0"
                [max]="100"
                [step]="5"
                [pageSteps]="1"
                (change)="changeFilterPrice($event)"
                style="padding: 0 1.5rem"
              >
              </nouislider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
