<header class="header header-intro-clearance header-1">
  <div class="header-top">
    <div [class]="containerClass">
      <div class="header-left overflow-hidden ml-5 mr-sm-0 header-phone">
        <div class="welcome-msg d-flex flex-nowrap">
          <p>
            Pour toute information complémentaire veuillez nous contacter sur
            +212620744118
          </p>
        </div>
      </div>

      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a href="javascript:;">Liens</a>
            <ul>
              <li class="contact">
                <a routerLink="/pages/contact">Nous Contacter</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="header-middle">
    <div [class]="containerClass">
      <div class="header-left">
        <molla-mobile-button></molla-mobile-button>

        <a routerLink="/" class="logo">
          <img
            src="assets/images/home/logo3.png"
            [alt]="altLogo"
            width="140"
            height="50"
          />
        </a>
      </div>

      <div class="header-center">
        <molla-header-search style="width: 100%"></molla-header-search>
      </div>

      <div class="header-right">
        <!-- <div class="account">
          <a routerLink="/shop/dashboard" title="My account">
            <div class="icon">
              <i class="icon-user"></i>
            </div>
            <p>Account</p>
          </a>
        </div> -->
        <molla-social-menu></molla-social-menu>

        <molla-wishlist-menu></molla-wishlist-menu>
        <molla-cart-menu></molla-cart-menu>
      </div>
    </div>
  </div>

  <div
    class="sticky-wrapper"
    [style.height]="
      utilsService.isSticky ? utilsService.stickyHeight + 'px' : ''
    "
  >
    <div
      class="header-bottom sticky-header"
      [class.fixed]="utilsService.isSticky"
    >
      <div [ngClass]="containerClass">
        <!-- <div class="header-left"> -->
        <!-- <molla-category-menu style="display: contents"></molla-category-menu> -->
        <!-- </div> -->

        <div class="header-center">
          <!-- <molla-main-menu></molla-main-menu> -->
          <molla-difussion-menu></molla-difussion-menu>
        </div>

        <!-- <div class="header-right">
          <i class="icon-medapps"></i>
          <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
        </div> -->
      </div>
    </div>
  </div>
</header>
