.more-products {
  margin-top: -2.7em;
}

:host ::ng-deep {
  .owl-item {
    width: 100px;
  }
}

:host ::ng-deep .owl-carousel .owl-item img {
  border-radius: 50%;
}
:host ::ng-deep .home-page .banner {
  font-size: 1rem;
  width: 60%;
}

:host ::ng-deep .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
}

:host ::ng-deep .owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: block;
}

:host ::ng-deep .owl-carousel .prev-slide {
  background: url("../../../../assets/images/backgrounds/prev_icon.png")
    no-repeat scroll 0 0;
  left: -33px;
}
:host ::ng-deep .owl-carousel .next-slide {
  background: url("../../../../assets/images/backgrounds/next_icon.png")
    no-repeat scroll -24px 0px;
  right: -33px;
}

:host ::ng-deep molla-image {
  background-color: transparent;
}

:host ::ng-deep .owl-carousel .owl-item #category {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  &:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}

#home_categories h4 {
  padding-bottom: 35px;
  font-size: 20px;
  color: #1506cb;
  font-weight: 700;
}

:host ::ng-deep .owl-theme .owl-nav [class*="owl-"] {
  background: #a6c76c;
}

:host ::ng-deep .slider-category > .owl-theme .owl-nav > .owl-prev {
  top: 7em;
}
:host ::ng-deep .slider-category > .owl-theme .owl-nav > .owl-next {
  top: 7em;
}
